xml/recettes.xsd

<?xml version="1.0" encoding="ISO-8859"?>
<!-- W3C Schema generated by XMLSpy v2016 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!--Déclaration globale des éléments-->
  <xs:element name="nom">
    <xs:simpleType>
      <xs:restriction base="xs:string">
	<xs:minLength value="2"/>
	<xs:maxLength value="40"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="prenom">
    <xs:simpleType>
      <xs:restriction base="xs:string">
	<xs:minLength value="2"/>
	<xs:maxLength value="40"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="nom-court">
    <xs:simpleType>
      <xs:restriction base="xs:string">
	<xs:minLength value="1"/>
	<xs:maxLength value="20"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="identificateur" type="xs:string"/>
  <xs:element name="resume" type="xs:string"/>
  <xs:element name="photo" type="xs:string"/>
  <xs:element name="date_publication" type="xs:date"/>
  <xs:element name="difficulte" type="xs:string"/>
  <xs:element name="nom_ingredient" type="xs:string">
    <xs:keyref name="ref_ingredient" refer="key_ingredient">
      <xs:selector xpath="root/liste_ingredients/ingredient"/>
      <xs:field xpath="@id"/>
    </xs:keyref>
  </xs:element>
  <xs:element name="nom_sous-categorie" type="xs:string">
    <xs:keyref name="ref_sous-categorie" refer="key_sous-categorie">
      <xs:selector xpath="root/liste_categories/categorie/sous-categorie"/>
      <xs:field xpath="@id"/>
    </xs:keyref>
  </xs:element>
  <xs:element name="nom_recette" type="xs:string">
    <xs:keyref name="ref_recette" refer="key_recette">
      <xs:selector xpath="root/liste_recettes/recette"/>
      <xs:field xpath="@id"/>
    </xs:keyref>
  </xs:element>
  <xs:element name="nom_auteur" type="xs:string">
    <xs:keyref name="ref_auteur" refer="key_auteur">
      <xs:selector xpath="root/liste_auteurs/auteur"/>
      <xs:field xpath="@id"/>
    </xs:keyref>
  </xs:element>
  <xs:element name="nom_categorie" type="xs:string">
    <xs:keyref name="ref_categorie" refer="key_categorie">
      <xs:selector xpath="root/liste_categories/categorie"/>
      <xs:field xpath="@id"/>
    </xs:keyref>
  </xs:element>
  <xs:element name="nbre_personnes" type="xs:integer"/>
  <xs:element name="Preparation" type="xs:string"/>
  <xs:element name="Cuisson" type="xs:string"/>
  <xs:element name="Repos" type="xs:string"/>
  <xs:element name="instructions" type="xs:string"/>
  <xs:element name="note" type="xs:integer"/>
  <xs:element name="Apport_energetique" type="xs:string"/>
  <xs:element name="Apport_nutritif" type="xs:string"/>
  <xs:element name="saison" type="xs:string"/>
  <xs:element name="descriptif" type="xs:string"/>
  <xs:element name="idext" type="xs:string"/>
  <xs:element name="pays" type="xs:string" default="France"/>
  <xs:element name="sexe">
    <xs:simpleType>
      <xs:restriction base="xs:string">
	<xs:enumeration value="Homme"/>
	<xs:enumeration value="Femme"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="biographie" type="xs:string" default="NULL"/>
  
  <!--Recette-->
  <xs:element name="recette">
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="nom"/>
	<xs:element ref="identificateur"/>
	<xs:element ref="resume" minOccurs="0" maxOccurs="1"/>
	<xs:element ref="photo"/>
	<xs:element ref="date_publication"/>
	<xs:element ref="difficulte"/>
	<xs:element ref="nom_ingredient" minOccurs="2" maxOccurs="20"/>
	<xs:element ref="nom_sous-categorie"/>
	<xs:element ref="nbre_personnes"/>
	<xs:element ref="Preparation"/>
	<xs:element ref="Cuisson"/>
	<xs:element ref="Repos"/>
	<xs:element ref="instructions"/>
	<xs:element ref="nom_auteur"/>
	<xs:element ref="note" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>
    <xs:key name="key_recette">
      <xs:selector xpath="root"/>
      <xs:field xpath="@id"/>
    </xs:key>
  </xs:element>
  
  <!--Ingrédient-->
  <xs:element name="ingredient">
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="nom"/>
	<xs:element ref="Apport_energetique" minOccurs="0" maxOccurs="1"/>
	<xs:element ref="Apport_nutritif" minOccurs="0" maxOccurs="1"/>
	<xs:element ref="saison" minOccurs="0" maxOccurs="1"/>
	<xs:element ref="nom_recette" minOccurs="0" maxOccurs="unbounded"/>
	<xs:element ref="descriptif"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>
    <xs:key name="key_ingredient">
      <xs:selector xpath="root"/>
      <xs:field xpath="@id"/>
    </xs:key>
  </xs:element>
  
  <!--<xs:element name="auteur">
      <xs:complexType>
      <xs:sequence>
      <xs:element ref="idext"/>
      <xs:element ref="nom" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="prenom" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="pays"/>
      <xs:element ref="sexe"/>
      <xs:element ref="nom_recette" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="biographie"/>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required"/>
      </xs:complexType>
      </xs:element>-->
  <!--Utilisation d'un type personnalisé "base_auteur" et "auteur_avec_any" pour permettre l'héritage (cf. plus bas)-->
  <xs:complexType name="base_auteur">
    <xs:sequence>
      <xs:element ref="idext"/>
      <xs:element ref="nom" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="prenom" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="pays"/>
      <xs:element ref="sexe"/>
      <xs:element ref="nom_recette" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="biographie"/>
      <!--Bien que les biographies soient au départ optionelles, j'ai dû les rendre obligatoires (avec une valeur par défaut) pour  pouvoir utiliser "any"-->
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
  </xs:complexType>
  <xs:complexType name="auteur_avec_any">
    <xs:complexContent>
      <xs:extension base="base_auteur">
	<xs:sequence>
	  <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
	</xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!--Auteur-->
  <xs:element name="auteur" type="auteur_avec_any">
    <xs:key name="key_auteur">
      <xs:selector xpath="root"/>
      <xs:field xpath="@id"/>
    </xs:key>
  </xs:element>
  
  <!--Catégorie-->
  <xs:element name="categorie">
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="nom"/>
	<xs:element ref="nom-court" minOccurs="0" maxOccurs="1"/>
	<xs:element ref="descriptif"/>
	<xs:element ref="sous-categorie" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>
    <xs:key name="key_categorie">
      <xs:selector xpath="root"/>
      <xs:field xpath="@id"/>
    </xs:key>
  </xs:element>
  <xs:element name="sous-categorie">
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="nom"/>
	<xs:element ref="nom-court" minOccurs="0" maxOccurs="1"/>
	<xs:element ref="descriptif"/>
	<xs:element ref="nom_categorie"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>
    <xs:key name="key_sous-categorie">
      <xs:selector xpath="root"/>
      <xs:field xpath="@id"/>
    </xs:key>
  </xs:element>
 
  <!-- Schéma XML à proprement parler-->
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
	<xs:element name="liste_recettes">
	  <xs:complexType>
	    <xs:sequence>
	      <xs:element ref="recette" minOccurs="0" maxOccurs="unbounded"/>
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
	<xs:element name="liste_ingredients">
	  <xs:complexType>
	    <xs:sequence>
	      <xs:element ref="ingredient" minOccurs="0" maxOccurs="unbounded"/>
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
	<xs:element name="liste_auteurs">
	  <xs:complexType>
	    <xs:sequence>
	      <xs:element ref="auteur" minOccurs="0" maxOccurs="unbounded"/>
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
	<xs:element name="liste_categories">
	  <xs:complexType>
	    <xs:sequence>
	      <xs:element ref="categorie" minOccurs="0" maxOccurs="unbounded"/>
	    </xs:sequence>
	  </xs:complexType>
	</xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--Extension et restriction des types complexes : exemples-->
  <!--Type personne héritant de base_auteur car auteur_avec_any créerait une ambiguïté-->
  <xs:complexType name="personne">
    <xs:complexContent>
      <xs:extension base="base_auteur">
	<xs:sequence>
	  <xs:element name="titre">
	    <xs:simpleType>
	      <xs:restriction base="xs:string">
		<xs:pattern value="amateur|confirme|chef|Gordon Ramsay"/>
	      </xs:restriction>
	    </xs:simpleType>
	  </xs:element>
	</xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
 
  <!--Types recettes de la catégorie entrées chaudes dérivé de recette-->
  <xs:element name="recette_entrees_chaudes">
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="nom"/>
	<xs:element ref="identificateur"/>
	<xs:element ref="resume" minOccurs="0" maxOccurs="1"/>
	<xs:element ref="photo"/>
	<xs:element ref="date_publication"/>
	<xs:element ref="difficulte"/>
	<xs:element ref="nom_ingredient" minOccurs="2" maxOccurs="20"/>
	<xs:element name="nom_sous-categorie">
	  <xs:simpleType>
	    <xs:restriction base="xs:string">
	      <xs:pattern value="SC2"/>
	    </xs:restriction>
	  </xs:simpleType>
	</xs:element>
	<xs:element ref="nbre_personnes"/>
	<xs:element ref="Preparation"/>
	<xs:element ref="Cuisson"/>
	<xs:element ref="Repos"/>
	<xs:element ref="instructions"/>
	<xs:element ref="nom_auteur"/>
	<xs:element ref="note" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
